<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOUR NAME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/main/main.css" />
  </head>
  <body>
    <!-- start-Block::  NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container text-center">
        <a class="navbar-brand fw-bold rounded-3 d-flex" href="../index.html">
          YOUR NAME
        </a>

        <div class="ul__container" id="">
          <ul class="navbar-nav mb-2 mb-lg-0 navbar__ul ms-auto">
            <li class="nav-item me-3">
              <a class="nav-link text-capitalize rounded-3" href="about.html"
                >about</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3 active"
                href="portfoio.html"
              >
                portfolio
              </a>
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-disabled="true"
                href="../index.html"
                >contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end-Block::  NAVBAR -->

    <main class="mt-5">
      <!-- start-Block:: introduction SEC -->

      <section
        class="header-sec text-center p-5 header__background text-white fw-bold mb-5"
      >
        <h2 class="text-center fw-bold fs-1">My Portfolio</h2>
        <span class="text-center d-block"
          ><a href="../index.html" class="fw-bold text-white hovr">Home</a>
          <i class="fa-solid fa-arrow-right"></i>
          <a href="portfolio.html" class="fw-bold text-white hovr"
            >Portfolio</a
          ></span
        >
      </section>

      <!-- end-Block:: introduction SEC -->

      <!-- start-Block::Navs&Tabs -->
      <div class="container py-5 shadow mb-5">
        <div class="row">
          <div class="col-12">
            <div class="p-2">
              <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                  <a
                    href="#pharmacy"
                    class="nav-link active"
                    data-bs-toggle="tab"
                    >Presentations</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#industrial" class="nav-link" data-bs-toggle="tab"
                    >Workshops</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#power" class="nav-link" data-bs-toggle="tab"
                    >Events</a
                  >
                </li>

                <!-- <li>
                    <a href="#">Special Buildings</a>
                  </li> -->
              </ul>
              <div class="tab-content p-4">
                <div id="pharmacy" class="active tab-pane fade in show">
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            WALDORF ASTORIA HOTEL
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/waldorf-astoria-hotel/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            OLYMPIC MULTI-SPORTS HALL
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/olympic-multi-sports-hall/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            CFC PODIUM II
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/cfc-podium-ii/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            SODIC EASTOWN RETAIL AND OFFICES
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/sodic-eastown-retail-and-offices/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            IKEA MALL OF ARABIA
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/ikea-mall-of-arabia/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            AIR DEFENCE COLLEGE
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/air-defence-college/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="industrial" class="tab-pane fade">
                  <div class="row mt-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            BENI SUEF CEMENT
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/beni-suef-cement/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            SIEMENS PS SERVICES CENTER – RAMSIS II
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/siemens-ps-services-center-ramsis-ii/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            SLP – LOGISTIC CENTER PROJECT
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/slp-logistic-center-project/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            SWAG WINDMILL FACTORY – EL AIN EL-SOKHNA, EGYPT
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/swag-windmill-factory-el-ain-el-sokhna-egypt/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/two-5.jpg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            Damietta LNG
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="#"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="power" class="tab-pane fade">
                  <div class="row mt-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            WEST BAKR LEKELA 250 MW WIND FARM
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/west-bakr-lekela-250-mw-wind-farm/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            BENI SUEF COMBINED CYCLE POWER PLANT
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/beni-suef-combined-cycle-4800-mw-power-plant/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            MOSTASMEREEN (220/66/11 KV) GIS SUB-STATION
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/mostasmereen-220-66-11-kv-gis-sub-station/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            GABAL ELZAYT JICA, KFW & FIEM WIND FARMS
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/gabal-elzayt-jica-kfw-fiem-wind-farms/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/test-img.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            BENBAN PHOTOVOLTAIC SOLAR PARK
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://rowad-rme.com/portfolio/benban-photovoltaic-solar-park/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end-Block::Navs&Tabs -->

      <!-- start-Block:: FOOTER -->
      <footer class="footer mt-auto">
        <div class="footer__container container p-3 align-items-center">
          <div
            class="row text-center align-items-center justify-content-between"
          >
            <div class="copy-rights fw-bold text-white fs-5 col-md-4 col-sm-12">
              2023 © YOUR NAME
            </div>
            <div class="social-media__platforms col-md-6 col-sm-12 flex-nowrap">
              <a
                href="https://www.linkedin.com/in/ayman-abdelrahman-333ab88b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a
                href="mailto:ayman1971@gmail.com"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-solid fa-envelope"></i
              ></a>
              <a
                href="tel:0201001596496"
                target="_blank"
                class="phone-icon text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
              >
                <i class="fas fa-phone"></i>
              </a>
              <a
                href="https://www.facebook.com/AYMAN1971?mibextid=ZbWKwL"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="https://x.com/ayman19710?t=5-2no1Vqug9HRBMi-MghZA&s=09"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </div>
            <div
              class="copy-rights-phone d-none fw-bold text-white fs-5 col-md-6 col-sm-12"
            >
              2023 © YOUR NAME
            </div>
          </div>
        </div>
      </footer>
      <!-- end-Block:: FOOTER-->
    </main>

    <script src="../content/js/vendors/bootstrap.bundle.min.js"></script>
  </body>
</html>
